**
!.dockerignore
!tapdata/**
!tapdata-connectors/**

tapdata/**/.git
tapdata/**/.idea
tapdata/**/.vscode
tapdata/**/.DS_Store
tapdata/**/logs
tapdata/**/*.log
tapdata/CacheObserveLogs/**
tapdata/dist/**
tapdata/iengine/CacheObserveLogs/**
tapdata/iengine/cache/**
tapdata/iengine/dist/**
tapdata/iengine/iengine-app/cache/**
tapdata/iengine/iengine-app/logs/**

tapdata-connectors/**/.git
tapdata-connectors/**/.idea
tapdata-connectors/**/.vscode
tapdata-connectors/**/.DS_Store
tapdata-connectors/**/node_modules
tapdata-connectors/**/dist
tapdata-connectors/**/build
tapdata-connectors/**/.cache
tapdata-connectors/**/.parcel-cache

**/target/classes/**
**/target/generates-sources/**
**/target/generates-test-sources/**
**/target/maven-archiver/**
**/target/maven-status/**
**/target/test-classes/**