<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <groupId>{{groupId}}</groupId>
    <artifactId>{{artifactId}}</artifactId>
    <packaging>jar</packaging>
    <name>{{artifactId}}</name>
    <version>{{artifactVersion}}</version>
    <properties>
        {{#useSealed}}
        <java.version>17</java.version>
        {{/useSealed}}
        {{^useSealed}}
        <java.version>1.8</java.version>
        {{/useSealed}}
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        {{#springFoxDocumentationProvider}}
        <springfox.version>2.9.2</springfox.version>
        {{/springFoxDocumentationProvider}}
        {{#springDocDocumentationProvider}}
        <springdoc.version>1.6.14</springdoc.version>
        {{/springDocDocumentationProvider}}
        {{^springFoxDocumentationProvider}}
        {{^springDocDocumentationProvider}}
        {{#swagger1AnnotationLibrary}}
        <swagger-annotations.version>1.6.6</swagger-annotations.version>
        {{/swagger1AnnotationLibrary}}
        {{#swagger2AnnotationLibrary}}
        <swagger-annotations.version>2.2.7</swagger-annotations.version>
        {{/swagger2AnnotationLibrary}}
        {{/springDocDocumentationProvider}}
        {{/springFoxDocumentationProvider}}
    </properties>
{{#parentOverridden}}
    <parent>
        <groupId>{{{parentGroupId}}}</groupId>
        <artifactId>{{{parentArtifactId}}}</artifactId>
        <version>{{{parentVersion}}}</version>
    </parent>
{{/parentOverridden}}
{{^parentOverridden}}
    <parent>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-starter-parent</artifactId>
        <version>3.4.8</version>
        <relativePath/> <!-- lookup parent from repository -->
    </parent>
{{/parentOverridden}}
    <build>
        <sourceDirectory>src/main/java</sourceDirectory>
        {{#interfaceOnly}}<plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-source-plugin</artifactId>
                <executions>
                    <execution>
                        <id>attach-sources</id>
                        <goals>
                            <goal>jar</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
        </plugins>{{/interfaceOnly}}
    </build>

    <dependencies>
        {{#springDocDocumentationProvider}}
        <!--SpringDoc dependencies -->
        <dependency>
            <groupId>org.springdoc</groupId>
            <artifactId>springdoc-openapi-ui</artifactId>
            <version>${springdoc.version}</version>
            <scope>provided</scope>
        </dependency>
        {{/springDocDocumentationProvider}}
        {{#springFoxDocumentationProvider}}
        <!--SpringFox dependencies -->
        <dependency>
            <groupId>io.springfox</groupId>
            <artifactId>springfox-swagger2</artifactId>
            <version>${springfox.version}</version>
            <scope>provided</scope>
        </dependency>
        {{/springFoxDocumentationProvider}}
        {{^springFoxDocumentationProvider}}
        {{^springDocDocumentationProvider}}
        {{#swagger1AnnotationLibrary}}
        <dependency>
            <groupId>io.swagger</groupId>
            <artifactId>swagger-annotations</artifactId>
            <version>${swagger-annotations.version}</version>
            <scope>provided</scope>
        </dependency>
        {{/swagger1AnnotationLibrary}}
        {{#swagger2AnnotationLibrary}}
        <dependency>
            <groupId>io.swagger.core.v3</groupId>
            <artifactId>swagger-annotations</artifactId>
            <version>${swagger-annotations.version}</version>
            <scope>provided</scope>
        </dependency>
        {{/swagger2AnnotationLibrary}}
        {{/springDocDocumentationProvider}}
        {{/springFoxDocumentationProvider}}
        {{#withXml}}
        <!-- XML processing: Jackson -->
        <dependency>
            <groupId>com.fasterxml.jackson.dataformat</groupId>
            <artifactId>jackson-dataformat-xml</artifactId>
            <scope>provided</scope>
        </dependency>
        {{/withXml}}
        {{#joda}}
        <dependency>
            <groupId>com.fasterxml.jackson.datatype</groupId>
            <artifactId>jackson-datatype-joda</artifactId>
            <scope>provided</scope>
        </dependency>
        {{/joda}}
        {{#openApiNullable}}
        <dependency>
            <groupId>org.openapitools</groupId>
            <artifactId>jackson-databind-nullable</artifactId>
        {{^parentOverridden}}
            <version>0.2.6</version>
        {{/parentOverridden}}
        </dependency>
        {{/openApiNullable}}
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web</artifactId>
            <scope>provided</scope>
        </dependency>
        {{#hateoas}}
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-hateoas</artifactId>
            <scope>provided</scope>
        </dependency>
        {{/hateoas}}
        {{#lombok}}
            <dependency>
                <groupId>org.projectlombok</groupId>
                <artifactId>lombok</artifactId>
                <optional>true</optional>
            </dependency>
        {{/lombok}}
        {{#useBeanValidation}}
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-validation</artifactId>
            <scope>provided</scope>
        </dependency>
        {{/useBeanValidation}}
    </dependencies>
</project>
