on:
  pull_request:
    types: [opened, synchronize]

jobs:
  gemini-code-review:
    # 删除了 comment 相关的判断
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 2 # 自动触发通常只需要对比最近的提交

      - name: Gemini AI Review
        uses: truongnh1992/gemini-ai-code-reviewer@main
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          GEMINI_MODEL: gemini-1.5-flash # 建议先用 flash，速度快且成本低
          EXCLUDE: "*.md,*.txt,package-lock.json,*.yml,*.yaml"